.DescriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.NameContainer {
    font-size: 36px;
}

.DesignationContainer {
    text-align: center;
    font-size: 24px;
}
