body {
  margin: 0;
  font: 30px/50px "UntitledRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #384458;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
