body {
    margin: 0;
    font: 30px/50px 'UntitledRegular', 'HelveticaNeue', 'Helvetica Neue',
        Helvetica, Arial, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #131313;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
