.MenuContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.MenuBtnContainer, .MenuBtnContainer:link, .MenuBtnContainer:visited, .MenuBtnContainer:active{
    color: #FFFFFF80;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #BB86FC80;
    text-decoration-style: solid;
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.MenuBtnContainer:hover{
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #BB86FC;
}

@media only screen and (max-width: 600px) {
    .MenuBtnContainer, .MenuBtnContainer:link, .MenuBtnContainer:visited, .MenuBtnContainer:active{
        color: #FFFFFF;
    }
    .MenuContainer {
        flex-direction: column;
    }
}